<footer id="footer" class="clearfix">

	<div class="container">

		<div class="three-fourth">

			<nav id="footer-nav" class="clearfix">

				<ul>
				{% for member in site.navigation %}		
					<li><a href="{{ member.link }}">{{ member.name }}</a></li>
				{% endfor %}						
				</ul>
				
			</nav><!-- end #footer-nav -->

			<ul class="contact-info">
				<li style="background: url(../img/icon-post-format-audio.png) no-repeat 0 0;">Appccelerate is pronounced [&#716;&#230;pk&#712;sel&#601;re&#618;t].</li>
			</ul><!-- end .contact-info -->
			
		</div><!-- end .three-fourth -->

		<div class="one-fourth last">

			<span class="title">Stay connected</span>

			<ul class="social-links">
				<li class="github"><a href="http://www.github.com/appccelerate">github</a></li>
			</ul><!-- end .social-links -->

		</div><!-- end .one-fourth.last -->
		
	</div><!-- end .container -->

</footer><!-- end #footer -->

<footer id="footer-bottom" class="clearfix">

	<div class="container">

		<ul>
			<li>Appccelerate &copy; 2008 - 2013</li>
			<li><a href="legalnotice.html">Legal Notice</a></li>
		</ul>

	</div><!-- end .container -->

</footer><!-- end #footer-bottom -->