<a href="https://github.com/appccelerate"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub"></a>
<header id="header" class="container clearfix">

	<a href="index.html" id="logo">
		<img src="img/logo.png" alt="Appccelerate">
	</a>

	<nav id="main-nav">
		
		<ul>
		{% for item in site.navigation %}		
			{% assign current = page.url | remove_first:'/' %}
			{% if current contains item.link %}
			<li class="current">
			{% else %}
			<li>
			{% endif %}
				<a href="{{ item.link }}" data-description="{{ item.description }}">{{ item.name }}</a>
			{% if item.children | size > 0 %}	
				<ul>
				{% for child in item.children %}	
					<li>
						<a href="{{ child.link }}">{{ child.name }}</a>
						{% if child.grandchildren | size > 0 %}	
							<ul>
								{% for grandchild in child.grandchildren %}	
									<li><a href="{{ grandchild.link }}">{{ grandchild.name }}</a></li>
								{% endfor %}
							</ul>
						{% endif %}		
					</li>
				{% endfor %}					
				</ul>
			{% endif %}					
			</li>
		{% endfor %}				
		</ul>

	</nav><!-- end #main-nav -->
	
</header><!-- end #header -->